
<!--formwithを使って、updateアクション2種類を使い分ける
最後にredirecttoでshowページに戻る-->
<div class="container">
  <h4>注文履歴詳細</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="col-2">商品名</th>
            <th class="col-2">単価（税込）</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
            <th class="col-2">製作ステータス</th>
          </tr>
        </thead>
      <tbody>

        <% @orders.each do |order| %>
        <tr>
          <td><%= order.item.name %></td>
          <td><%= order.purchase_price %></td>
          <% order.order_details.each do |order_detail| %><!--オーダーの中にあるオーダーディティールをだして、eachしていく-->
            <td><% order_detail.amount %></td>
          <% end %>
          <td><%= cart_item.subtotal %></td>
          <td><%= order_details.production_status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!--< %= paginate @orders %>-->
  </div>
</div>
