@import '~bootstrap/scss/bootstrap';



*{
  box-sizing: border-box; /*余白や線を幅や高さに含める*/
}

body {
  display: block;
  border: 2px dotted #8c8b8b;
  margin: 20px;
}

.header {
  display: block;
  border-bottom: 2px dotted #8c8b8b;
}




.container {
  // display: flex;
  // justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

// 太字
.bold {
  font-weight: bold;
}

.about {
  font-size: 70px;

}

// 商品インデックス
.span1 {
  font-size: 25px;
  font-weight: bold;
}

.span2 {
  font-size: 20px;
}

// 商品show
.span3 {
  font-size: 20px;
  font-weight: bold;
}




// topページ
.welcomemessage {
  position: center;
}

// ↓会員新規登録
.em2down {
  text-indent: 2em;
}
//


// ↓会員ログインページ

.em1down {
  text-indent: 1em;
}

.em7down {
  text-indent: 7em;
}

// ↑ここまで

// 注文情報入力
.radio_button {
  padding-left: 2em;
}

.newaddress {
  padding-left: 3em;
}

.addressadd {
  margin-bottom: 10px;
}
//

// 注文完了
.ordercomp {
  height: 250px;
  width: 100%;
  display: flex;
　align-items: center;
　justify-content: center;
}
//

.image {
  height: 60%;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-image2 {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

th, td {
  vertical-align: middle;
  padding-left: 0;
}

.width {
  width: 50px;
}

.footer {
  display: block;
  border-top: 2px dotted #8c8b8b;
}